.app.dark {
    --bg-color: #101030;
    --inverted-bg-color: #f3f3f3;

    --primary-color: green;
    --secondary-color: rgb(0, 173, 0);
    --inverted-primary-color: rgb(0, 0, 95);
    --inverted-secondary-color: rgb(0, 0, 175);
}