.app.light {
    --bg-color: #f3f3f3;
    --inverted-bg-color: #262646;

    --primary-color: rgb(0, 0, 95);
    --secondary-color: rgb(0, 0, 175);
    --inverted-primary-color: green;
    --inverted-secondary-color: rgb(0, 173, 0);
}